:root {
    /* --primary: #6366f1;
    --primary-light: #e0e7ff;
    --success: #10b981;
    --danger: #ef4444;
    --warning: #f59e0b;

    --text: #222;
    --border: #eee;

    --gradient-mint: linear-gradient(135deg, #d1fae5 0%, #cffafe 100%);
    --gradient-purple: linear-gradient(135deg, #ede9fe 0%, #fce7f3 100%); */
    --radius: 1.25rem;
    --background: oklch(98.5% .01 260);
    --foreground: oklch(28% .04 270);
    --card: oklch(100% 0 0);
    --card-foreground: oklch(28% .04 270);
    --popover: oklch(100% 0 0);
    --popover-foreground: oklch(28% .04 270);
    --primary: oklch(68% .11 265);
    --primary-foreground: oklch(99% 0 0);
    --secondary: oklch(95% .03 300);
    --secondary-foreground: oklch(35% .06 290);
    --muted: oklch(96% .015 260);
    --muted-foreground: oklch(50% .03 270);
    --accent: oklch(92% .06 175);
    --accent-foreground: oklch(30% .05 200);
    --destructive: oklch(65% .18 25);
    --destructive-foreground: oklch(99% 0 0);
    --warning: oklab(0.98 -0.002 0.022 / 0.8);
    --warning-foreground: oklab(0.4 0.077 0.08 / 0.8);
    --border: oklch(92% .015 270);
    --input: oklch(92% .015 270);
    --ring: oklch(68% .11 265);
    --chart-lightness: 70%;
    --chart-1: oklch(var(--chart-lightness) 0.07412 266.636);
    --chart-2: oklch(var(--chart-lightness) .1 175);
    --chart-3: oklch(var(--chart-lightness) .09 320);
    --chart-4: oklch(var(--chart-lightness) .1 85);
    --chart-5: oklch(var(--chart-lightness) .11 25);
    --chart-6: oklch(var(--chart-lightness) 0.246 37.85);
    --sidebar: oklch(98% .01 260);
    --sidebar-foreground: oklch(28% .04 270);
    --sidebar-primary: oklch(68% .11 265);
    --sidebar-primary-foreground: oklch(99% 0 0);
    --sidebar-accent: oklch(95% .03 300);
    --sidebar-accent-foreground: oklch(35% .06 290);
    --sidebar-border: oklch(92% .015 270);
    --sidebar-ring: oklch(68% .11 265);
    --body-clr: oklab(0.985 -0.00173648 -0.00984808 / 0.6);
    --verified-foreground: oklch(37.8% .077 168.94);
    --verified: oklch(97.9% .021 166.113);

    --focus-gradient-bg: linear-gradient(to right bottom, oklch(0.943 0.029 294.588) 0%, oklch(0.951 0.026 236.824) 50%, oklch(0.95 0.052 163.051) 100%);
    --streak-gradient-bg: linear-gradient(to right bottom, oklch(0.962 0.059 95.617) 0%, oklch(0.941 0.03 12.58) 50%, oklch(0.943 0.029 294.588) 100%);

    --page-padding: 16px; /* body horizontal padding */
    --page-max-width: min(450px, 100vw);
    --page-content-width: calc(var(--page-max-width) - var(--page-padding) * 2); 
    --fade-box-shadow:  0 2px 2px rgba(0, 0, 0, 0.1), 
                        0 1px 2px -1px rgba(0, 0, 0, 0.1),
                        0 -1px 3px -2px rgba(0, 0, 0, 0.1);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
    background-image: linear-gradient(in oklab, rgb(238, 242, 255) 0%, rgb(245, 243, 255) 50%, rgb(236, 254, 255) 100%);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: var(--page-max-width);
    min-height: 100vh;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-radius: 0px !important;
    color: var(--text);
    background-color: var(--body-clr);
    padding: 22px var(--page-padding);
    box-shadow: var(--fade-box-shadow);
}

h2 {
    margin-top: 1em;
    margin-bottom: 0.4em;
    font-size: 1.15rem;
    font-weight: 600;
}

h2:first-child,
.top-buffer + h2 {
    margin-top: 0;
}

h3 {
    margin-top: 1em;
    margin-bottom: 0.4em;
    font-size: 1.05rem;
    font-weight: 600;

    &:first-child {
        margin-top: 0;
    }
}

p {
    margin: 0;
}

label {
    display: inline-block;
    margin-bottom: 0.2em;
    /* margin-left: 0.6em; */
    color: var(--muted-foreground);
    font-size: small;
}

input {
    display: inline-block;
    
    width: 100%;
    margin-bottom: 1.8em;
    padding: 8px 14px;
    border-radius: 100vw; /* rounded sides */
    
    font-size: small;

    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 
                0 1px 2px -1px rgba(0, 0, 0, 0.15);

    &:last-child {
        margin-bottom: 0;
    }
}

.card, .container {
    padding: 20px 16px 22px 16px;
    border-radius: 20px;
    box-shadow: var(--fade-box-shadow);
}

.card, .container {
    background-color: white;
}

.pill {
    border-radius: 100vw; /* rounded sides */
}

.lucide {
    padding: 0.2em;
    overflow: visible;
}

.circle-icon {
    background-color: color-mix(in oklab,var(--primary) 10%,transparent);
    border-radius: 100vw;
    aspect-ratio: 1;
}

.button {
    box-shadow: var(--fade-box-shadow);
    padding: .6em 1em;

    border-radius: 100vw;

    color: var(--text);
    background-color: var(--background);

    text-align: center;
    font-size: small;

    cursor: pointer;
}

a.button {
    text-decoration: none;
}

.warning {
    color: var(--destructive-foreground);
    background-color: var(--destructive);
}

.profile {
    .profile-info p {
        margin: 0;
    }
    
    .name {
        font-weight: 600;
    }
    
    .sub-info, .last-msg {
        color: var(--muted-foreground);
        font-size: small;
    }
    
    .last-msg {
        margin-top: 4px;
        font-style: italic;
    }
}

.same-line {
    display: flex;
    flex-direction: row;
}

.status {
    color: var(--muted-foreground);
    font-size: small;
}

.status-tag {
    align-content: center;
    display: inline-block;
    padding: 0px 12px;
    margin-left: auto;
    background-color: var(--secondary);
    font-size: smaller;
    text-align: center;

    &.mood {
        padding: 2px 8px;
        font-weight: 600;
    }
}

.mood {
    --color: var(--primary);
    
    &.tired { --color: var(--chart-1); }
    &.okay { --color: var(--chart-2); }
    &.motivated { --color: var(--chart-3); }
    &.anxious { --color: var(--chart-4); }
    &.stressed { --color: var(--chart-5); }
    &.overwhelmed { --color: var(--chart-6); }

    color: color-mix(in oklab, var(--color) 90%, black);
    background-color: color-mix(in oklab, var(--color) 20%, white);
}

.main-focus {
    display: flex;
    flex-direction: column;
    background-image: var(--focus-gradient-bg);

    h3 {
        font-weight: 650;
    }

    p {
        margin-bottom: 1em;
        font-weight: 350;
        font-size: medium;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .button {
        font-size: small;
        text-align: center;
        color: var(--primary-foreground);
        background-color: var(--primary);
    }
}

.status-info {
    display: flex;
    padding: 1em;
    gap: 0.6em;

    font-size: small;
    color: var(--verified-foreground);
    background-color: var(--verified);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.fade {
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;

    --delay: 0.1s;
    &:nth-child(1) { animation-delay: calc(var(--delay) * 1) }
    &:nth-child(2) { animation-delay: calc(var(--delay) * 2) }
    &:nth-child(3) { animation-delay: calc(var(--delay) * 3) }
    &:nth-child(4) { animation-delay: calc(var(--delay) * 4) }
    &:nth-child(5) { animation-delay: calc(var(--delay) * 5) }
    &:nth-child(6) { animation-delay: calc(var(--delay) * 6) }
    &:nth-child(7) { animation-delay: calc(var(--delay) * 7) }
    &:nth-child(8) { animation-delay: calc(var(--delay) * 8) }
    &:nth-child(9) { animation-delay: calc(var(--delay) * 9) }
}

.fade-slow {
    --delay: 0.2s;
}