---
import AnonymousMatch from "../components/AnonymousMatch.astro";
import Friends from "../components/Friends.astro";
import PastAnonymousMatch from "../components/PastAnonymousMatch.astro";
import ServerComp from "../components/ServerComp.astro";
import ServerCompSlow from "../components/ServerCompSlow.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h2>Match</h2>
    <div class="main-focus container">
        <h3>Connect anonymously, safely.</h3>
        <p>Get matched with another student who is feeling something similar today.</p>
        <a href="./match/searching" class="button">Find a buddy</a>
    </div>

    <h2>Active anonymous matches</h2>
    <AnonymousMatch status="Stressed · Assignments · Library Zone"/>
    
    <ServerComp server:defer>
        <h1 slot="fallback">Client rendered</h1>
    </ServerComp>
    <ServerCompSlow server:defer>
        <h1 slot="fallback">Client slow rendered</h1>
    </ServerCompSlow>
    <Friends />

    <h3>Past anonymous chats</h3>
    <PastAnonymousMatch date="24 May" mood="Stressed" support="Talk Buddy"/>
    <PastAnonymousMatch date="20 May" mood="Tired" support="Quiet Company"/>
    <PastAnonymousMatch date="8 May" mood="Anxious" support="Encouragement" isAnonymous=""/>
</Layout>
