---
import { ClientRouter } from "astro:transitions";
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/same-boat/favicon.svg" />
    <link rel="icon" href="/same-boat/favicon.ico" />
    <link rel="stylesheet" href="/same-boat/styles/global.css">
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <ClientRouter />
</head>