<nav>
    <a href="/src/pages/pulse">Home</a>
    <a href="/src/pages/streak">Search</a>
    <a href="/src/pages/match">Streak</a>
    <a href="/src/pages/mood-wall">Mood Wall</a>
    <a href="/src/pages/profile">Profile</a>
</nav>

<style>
    
</style>