---
import { Activity, Flame, Users, LayoutGrid, User } from '@lucide/astro';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split('/')[2] // remove the first "/"
---

<nav class="container pill">
    <a href="/same-boat/pulse" class={currentPath === "pulse" ? "active" : ""} >
        <Activity />
        Pulse
    </a>
    <a href="/same-boat/streak" class={currentPath === "streak" ? "active" : ""} >
        <Flame />
        Streak
    </a>
    <a href="/same-boat/match" class={currentPath === "match" ? "active" : ""} >
        <Users />
        Match
    </a>
    <a href="/same-boat/mood-wall" class={currentPath === "mood-wall" ? "active" : ""} >
        <LayoutGrid />
        Mood Wall
    </a>
    <a href="/same-boat/profile" class={currentPath === "profile" ? "active" : ""} >
        <User />
        Profile
    </a>
</nav>

<style>
nav {
    position: fixed;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    width: 100%;
    max-width: var(--page-content-width);
    bottom: 14px;
    padding: 12px;      
    
    backdrop-filter: blur(16px);
    background-color: color-mix(in oklab,var(--background) 60%,transparent);
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;

    text-decoration: none;
    font-size: 0.8rem;
    gap: 2px;

    &.active {
        color: var(--primary);
    }

    .lucide {
        --icon-size: 36px;
        width: var(--icon-size);
        height: var(--icon-size);
        padding: 8px;
    }
}

</style>