---
import { Activity, Flame, Users, LayoutGrid, User } from '@lucide/astro';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split('/')[1] // remove the first "/"

const paths = [
    { icon: Activity, path: "Pulse" },
    { icon: Flame, path: "Streak" },
    { icon: Users, path: "Match" },
    { icon: LayoutGrid, path: "Mood Wall" },
    { icon: User, path: "Profile" }
]
---

<nav class="container pill">
{
    paths.map(path => {
        const href = path.path.toLowerCase().replace(/\s+/g, "-");
        const isActive = href === currentPath;
        return (
            <a href={"/" + href} class={isActive ? "active" : ""} rel="prefetch" data-astro-prefetch="load">
                { isActive && <span class="active-circle" transition:name="nav-active"/> }
                <path.icon />
                {path.path}
            </a>
        );
    })
}
</nav>

<style>
nav {
    position: fixed;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;

    width: 100%;
    max-width: var(--page-content-width);
    bottom: 14px;
    padding: 12px;
    left: 50%; 
    transform: translateX(-50%);
    z-index: 10;

    backdrop-filter: blur(16px);
    background-color: color-mix(in oklab,var(--background) 60%,transparent);
}

a {
    --icon-size: 36px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;
    flex-grow: 1;

    text-decoration: none;
    font-size: 0.8rem;
    gap: 2px;

    &.active {
        color: var(--primary);
    }

    .lucide {
        width: var(--icon-size);
        height: var(--icon-size);
        padding: 8px;
    }

    .active-circle {
        position: absolute;
        background-color: color-mix(in oklab,var(--primary) 10%, transparent);
        border-radius: 100vw;
        aspect-ratio: 1;
        top: 50%;
        left: 50%;
        width: var(--icon-size);
        height: var(--icon-size);
        transform: translate(-50%, -80%);
    }
}

</style>