---
interface Props {
    tag: string;
    title: string, 
    body: string,
    upvoteCount: number,
    commentCount: number,
    poster: string;
    isLink?: boolean;
}

const { tag, title, body, upvoteCount, commentCount, poster, isLink = false} = Astro.props;
const id = title.toLowerCase().replace(/\s+/g, "-");
const href="/post/" + encodeURIComponent(title);
---

<a class="container post" href={isLink ? href : ""} transition:name={"post-" + id}>
    <h3>{title}</h3>
    <p class="body">{body}</p>
</a>

<style>
.post {
    display: block;
    margin-bottom: 0.8em;
    width: 100%;
    text-decoration: none;
    color: black;
}

.body {
    color: var(--muted-foreground);
}
</style>