---
import { Flame } from "@lucide/astro";

const { name, course, year, lastMsg, isViewing } = Astro.props;
const inital = name[0];
const streakCount = Math.floor(Math.random() * 20 + 1);
---

<div class="profile card">
    <div class="icon circle-icon">
        <span>{inital}</span>
    </div>
    <div class="profile-info">
        <p class="name" transition:name={"profile-" + name}>{ name }</p>
        <p class="sub-info">{ `${course} · Year ${ year }`}</p>
        { isViewing && <p class="last-msg">"{  lastMsg }"</p> }
    </div>
    <div class="chat-container">
        <div class="streak-container">
            <Flame />
            <span>{streakCount}</span>
        </div>
        { isViewing && <a href={"/chat/" + name} class="button">Chat</a> }
    </div>
</div>

<style>
.profile {
    display: flex;
    align-content: center;
    gap: 1em;
}

.icon {
    margin: auto 0;
    width:50px;
    height: 100%;

    display: flex;
    justify-content: center; 
    align-items: center; 

    text-align: center;
    background-color: #d0fae5;
}

.chat-container {
    margin: auto 0 auto auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .streak-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0.4em;

        span {
            font-size: smaller;
            color: var(--muted-foreground);
        }
    }

    .lucide {
        color: #ff5400;
    }
}

</style>
