---
const { name, course, year, lastMsg } = Astro.props;
const inital = name[0];
---

<div class="profile card">
    <div class="icon circle-icon">
        <span>{inital}</span>
    </div>
    <div class="profile-info">
        <p class="name">{ name }</p>
        <p class="sub-info">{ `${course} · Year ${ year }`}</p>
        <p class="last-msg">"{  lastMsg }"</p>
    </div>
    <a href="/chat/" class="button">Chat</a>
</div>

<style>
.profile {
    display: flex;
    align-content: center;
    gap: 1em;
}

.icon {
    margin: auto 0;
    width:50px;
    height: 100%;

    display: flex;
    justify-content: center; 
    align-items: center; 

    text-align: center;
    background-color: #d0fae5;
}

a.button {
    margin: auto 0 auto auto;
}
</style>
