---
const { name, course, year } = Astro.props;
const username = Astro.cookies.get("username");
---

<div class="profile card">
    <div class="profile-avatar circle-icon">
        <span>🦦</span>
    </div>
    <div class="profile-info">
        <p class="name">{ name }</p>
        <p class="sub-info">{ `${course} · Year ${ year }`}</p>
    </div>
</div>

<style>
.profile {
    display: flex;
    align-content: center;
    gap: 1em;
    background: var(--focus-gradient-bg);
    height: 6em;
}

.profile-avatar {
    margin: auto 0;
    height: 100%;
    aspect-ratio: 1 / 1;
    
    display: flex;
    justify-content: center; 
    align-items: center; 
    
    background-color: #fff;
    text-align: center;

    span {
        font-size: 1.4rem;
    }
}

.profile-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 

    p {
        margin:
    }
}
</style>
