---
interface Props {
    tags: string[];
    activeIndex: number;
}

const { tags, activeIndex = 0 } = Astro.props;
---

<div class="tag-list">
{
    tags.map((tag, i) => {
        let isActive = false;
        if (activeIndex === i)
            isActive = true;
        return <a class={"tag " + (isActive ? "active" : "")}>{tag}</a>;
    })
}
</div>

<style>
.tag-list {
    display: flex;
    overflow-x: auto;
    gap: 0.5em;
    margin: 1em 0;
}

.tag {
    background-color: white;
    color: var(--muted-foreground);
    border: 1px solid color-mix(in oklch, var(--muted-foreground) 30%, transparent);
    border-radius: 100vh;
    padding: 0.4em 0.8em;
    font-size: small;
    text-wrap-mode: nowrap;
}

.active {
    --color: var(--primary);

    border: 1px solid var(--color);
    color: var(--color);
    background-color: color-mix(in oklch, var(--color) 15%, transparent);
}
</style>